body{
	margin:0% 0% 0% 0%;
}
@font-face {
  font-family: "muli";
  src: url("font/muli-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  src: url("font/rubik-regular-webfont") format("woff");
	  }
.m1{
	background-image:url("img/body/f1.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	padding-top:10%;
	padding-left:5%;
	box-shadow:0 14px 28px rgba(0,0,0,0.9);
	
	
}
.m1 p{
	border-right:5px solid #ff8700;
	font-variant:small-caps;
	color:white;
	font-family:Rubik;
	font-size:30;
	width:44%;
}
.m2 p{
	border-right:4px solid #ff8700;
	color:white;
	font-family:Rubik;
	width:44%;
	font-variant:small-caps;
	font-size:30;
}
.m2{
	background-image:url("img/body/m3.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	padding-top:10%;
	padding-left:5%;
	box-shadow:0 14px 28px rgba(0,0,0,0.9);
	}
.models{
	color:black;
	font-family:Rubik;
	font-size:60px;
	
	
}
a{
	text-decoration:none;
}			

div.container
{
	
	width:100%;
	height:20px;
	position:fixed;
    font-family:Rubik;
    margin: 0 auto;
	padding: 2em 3em;
	text-align: center;
}
div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Rubik;
    margin: 0px 20px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.blue
{
    background: #004377;
}
/* Circle behind */
div.circleBehind a:before, div.circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid orange;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}
div.container img{
	height:123%;
	width:124%;
	left:0%;
	top:0%;
	width:13.1%;
	position:fixed;
	height:84px;
	


	
	
}
.mod1{
	color:black;
	background-attachment:local;
	background-image:url("img/body/aspire.jpg");
	font-family:Rubik;
	font-size:60px;
	background-repeat:none;
	width:1440px;
	box-shadow:0 14px 28px rgba(0,0,0,0.9);
	height:500px;
	border-radius:20px;
}
.mod2{
	color:black;
	background-attachment:local;
	background-image:url("img/body/mustang.jpg");
	font-family:Rubik;
	font-size:60px;
	background-size:cover;
	width:1440px;
	height:500px;
	box-shadow:0 14px 28px rgba(0,0,0,0.9);
	border-radius:20px;
}
.mod3{
	color:black;
	background-attachment:local;
	background-image:url("img/body/ecosport.jpg");
	font-family:Rubik;
	font-size:60px;
	background-size:cover;
	box-shadow:0 14px 28px rgba(0,0,0,0.9);
	width:1440px;
	height:500px;
	border-radius:20px;
}
.dealer{
	background-image:url("img/body/dealer.jpeg");
	background-size:cover;
	background-repeat:no-repeat;
	height:100%;
	width:100%;
	box-shadow:0 14px 28px rgba(0,0,0,0.9);
}

.family{
	font-family:Century gothic;
	font-size:25;
	color:black;

}
.family .know{
	font-family:Century gothic;
	font-size:15;
	Color:white;
	background-color:#1e90ff;
	border:1px solid white;
	width:200px;
	height:50px;
	transition:0.5s ease-in-out;
	
}
.family .know:hover{
	background-color:white;
	color:black;
	border:2px solid black;
	
}
.sign{
	background-image:url("img/body/sign.jpg");
	background-size:cover;
	height:100%;
	width:100%;
	font-family:Rubik;
	font-size:25px;
	color:white;
	box-shadow:0 14px 28px rgba(0,0,0,0.9);
	
}
.sign input{
	
	border:none;
	outline:none;
	padding:2px;
	background-color:white;
	color:white;	
	font-size:20px;
	box-shadow:2px 2px 1px rgba(0,0,0,0.9);
	border-radius:5px;
	font-family:Rubik;	
	
}
.sign .form1{
	background-color:rgba(0, 0, 0, 0.9);
	font-family:Rubik;
	width:50%;
	height:400px;
	border-radius:22px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}
.end{
	
	background-image:url("img/body/end.jpg");
	background-size:cover;
	background-attachment:fixed;	
	color:white;
	font-family:Rubik;
	font-size:20px;
	
}
.end1{
	color:white;
	font-size:20px;
	font-family:muli;
	text-align:right;
	position:absolute;
	right:2%;
}
.dealer_btn{
	background-color:#ff8700; 
	border:none; 
	height:70px; 
	width:100px; 
	color:white; 
	font-family:century gothic; 
	font-size:20;
	transition:0.5s ease-in-out;
	
}
.dealer_btn:hover{
	
	background-color:white;
	color:black;
	border:2px solid black;
	
}
.flash{
	
	background-size:cover;
	background-attachment:fixed;
	
}
.flash p {
	font-family:Rubik;
	font-size:60px;
	color:black;
	
	
}
.comm_btn a{
	border:none; 
	outline:none; 
	padding:10px;
	width:20px;
	font-family:Rubik; 
	cursor:pointer; 
	font-size:30px; 
	background-color:green; 
	color:white;
	border-radius:5px; 
	transition:0.5s ease-in-out;
	box-shadow:0 14px 28px rgba(0,0,0,0.8);
}
.comm_btn a:hover{
	color:black;
	background-color:white;
	
	border:2px solid black;


}
